# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.python-version
.env
.venv/
venv/

# System
.DS_Store
Thumbs.db

# vscode
.vscode/

# terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
.terraform/terraform.tfvars

# Google Cloud credentials
gcp-key.json

# Airflow
airflow.cfg
logs/
airflow/simple_auth_manager_passwords.json

# dbt
dbt_packages/
target/

/data/
!/dbt/data/
!/dbt/data/*.csv

# local docker compose states
*.log
*.pid

# Jupyter
.ipynb_checkpoints/

# OS generated
ehthumbs.db
Icon?

# Ignore all secret files
*secret*